* {
    background-color: bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

h1 {
    text-align: center;
}

.start-button {
    text-align: center;
}


div p {
    text-align: center;
    padding: 20px;
}



.timer-card {
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.quiz {
    text-align: center;
    border: 3px solid black;
    padding-left: 15px;
    margin: 15px;
    background-color: cadetblue;
}

.choices {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    display: none;
}

.choices:hover {
    background-color: aqua;
}

.questions{
    font-size: 30px;
    background-color: cadetblue;
    
}

.answer-status {
    color: red;
    font-size: 25px;
    font-style: italic;
    background-color: cadetblue;
}

.hide {
    display: none;
}

.user-score{
    text-align: center;
    font-size: 30px;
    color: black;
}
.game-over {
    text-align: center;
}
.scorecard {
    text-align: center;
}
.display-scores {
    font-size: 50px;
}