* {
    background-color: bisque;
}

h1 {
    text-align: center;
}

.start-button {
    text-align: center;
}

.button {
    
}

div p {
    text-align: center;
    padding: 20px;
}



.timer-card {
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.quiz {
    text-align: center;
}

.choices {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}

.choices:hover {
    background-color: aqua;
}

.questions{
    font-size: 30px;
}